header{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0px;
    background-color: teal;
    margin-bottom: 10px;
}
.header-actions{
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
.header-actions .search-bar{
    text-align: right;
    width: 50%;
}

.header-actions .search-bar input{
    margin-right: 8px;
    height: 40px;
    border-radius: 9px;
}
.header-actions button{
    margin-right:5px ;
    background-color: green;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.nav ul{
    list-style-type: none;
    display: flex;
}

.nav ul li{
    margin: 9px;
}
nav ul li a{
    color: black;
}

.nav span h3{
    text-align: left    ;
}

.category-select{
    width: 250px;
    height: 30px;
    border-radius: 9px;
    margin: 9px;
    position: absolute;
    right: 4px;
    font-family: cursive;
    font-size: 15px;

}

.products-container{
    width: 60%;
    padding: 10px;

}

.featured-products{
    width: 40%;
    position: relative;
    top: 50px;
    background-color: #211f1f00;
    border-radius: 9px;
    height: 50vh;
    overflow-y: scroll;
}

.featured-products ul{
    list-style-type: none;
}

.product-img:hover{
  filter: drop-shadow(10px 10px 5px black) !important;
  transition: filter 0.3s ease;
  transform: scaleX(1.4);
  
}

.featured-products ul li div{
    display: flex;
}

.featured-products ul li div i{
    height: fit-content;
    border-radius: 9px;
    width: 9%;
}

.favorited{
    background-color: green;
    color: red;
}

.content{
    display: flex;
    background-color: #00808078;
}

.favorites-count{
    color: red;
    position: relative;
    bottom: -13px;
    right: 20px;
    background: #000000a3;
    padding: 1px 8px;
    border-radius: 16px;
}

.cart-count{
    color: red;
    position: relative;
    bottom: -13px;
    right: 20px;
    background: #000000a3;
    padding: 1px 8px;
    border-radius: 16px;
}

.menu-toggle {
    display: none; /* مخفي في الشاشات الكبيرة */
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    
}
.hidden, .show, .menu-toggle{
    display: none;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}




@media (min-width: 100px) and (max-width: 640px){
    .content{
        flex-direction: column;
    }
}


@media (min-width: 641px){
    .content{
        flex-direction: row;
    }
}


@media (max-width: 600px){
    .menu-toggle {
        display: block;
        height: 45px;
        display: flex;
        align-items: center;
    }

    .icons-group{
        display: none;
    }
    
    .mobile-menu{
        background-color: #00000096;
        color: wheat;
        z-index: 999;
        animation: slidDown 2s ease-in-out 0s;
    } 
    
    .mobile-menu ul{
        list-style-type: none;
        color: white !important;
    }
    .mobile-menu ul li{
        margin: 8px;
    }
    .mobile-menu ul li a{
        color: white !important;
    }

    .hidden{
        /* z-index: 0; */
        display: none;
    }
    .show{
        display: block;
    }

    @keyframes slidDown {
        from{
            transform: translateY(0%);
        }
        to{
            transform: translateY(-100%);
        }
    }

    .search-bar{
        display: flex;
    }

    .search-bar input{
        width:-webkit-fill-available;
    }

    .header-actions{
        justify-content: left;
        align-items: center;
    }

    .nav{
        display: none; /* إخفاء القائمة افتراضياً */
        position: absolute;
        top: 100%; /* تظهر أسفل الهيدر مباشرة */
        left: 0;
        width: 100%;
        background-color: #000;
        padding: 20px;
        flex-direction: column;
        z-index: 1000;
    }

    .nav.active {
        display: flex; /* تظهر القائمة عند النقر على الزر */
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .search-bar {
        width: 50%; /* تصغير شريط البحث ليناسب المساحة */
    }
}

@media (min-width: 601px){
    .nav{
        display: flex;
    }
}

